@import '../common.scss';

.sp-home {

  &__top {
    display: flex;

    @include breakpoint(small){
      display: block;
    }
  }

  &__news {
    order: 1;
    flex-basis: 60%;

    @include breakpoint(medium) {
      flex-basis: 75%;
    }
  }

  &__products {
    order: 2;
    flex-basis: 40%;

    @include breakpoint(medium) {
      flex-basis: 35%;
    }

    padding-top: 2rem;
  }

  &__new-jewelry {

  }
}
