@import '../common.scss';

.sp-shop {

  &__header {
    display: inline-block;
    margin: $--spacing-unit-x6 $--spacing-unit-x8 0 $--spacing-unit-x8;

    .sp-page-header {
       display: inline-block;
       margin-right: $--spacing-unit-x10;
    }

    .sp-select {
      vertical-align: top;
       display: inline-block;
       margin: $--spacing-unit-x2;
    }
  }
}
