@import '../common.scss';

.sp-button {
  display: inline-block;
  color: $black;
  background-color: $white;
  font-size: $font-size-large;
  padding: .75rem 1.5rem;
  margin: $--spacing-unit-x2 $--spacing-unit-x2 $--spacing-unit-x2 0;

  &__tertiary {
    text-decoration: underline;
    font-size: $font-size-medium;
    background-color: transparent;
    color: $link;
    padding: 0 $--spacing-unit-x3;
  }
}
