@import '../common.scss';

.sp-container {
  position: relative;
  background: $white-transparent;
  margin: 0 0 $--spacing-unit-x4 $--spacing-unit-x4;
  padding: $--spacing-unit-x6 $--spacing-unit-x8;

  &--top-left {
    padding-top: 5rem;
  }

  @include breakpoint(small){
    margin: 0 0 $--spacing-unit-x4 0;
  }
}

.sp-card {
  padding: $--spacing-unit-x2;
  background-color: $white;
}
