.sp-container {
  position: relative;
  background: $white-transparent;
  margin: 0 0 $--spacing-unit-x4 $--spacing-unit-x4;
  padding: $--spacing-unit-x10;

  @include breakpoint(medium){
    background: $light-gray;
  }
}

.sp-card {
  padding: $--spacing-unit-x2;
  background-color: $white;
}
