header {
  position: relative;
  margin: 10px 45px 10px 45px;
  font-size: 20px;

  .sp-search {
    background: url(/icons/search.svg) no-repeat;
    background-size: 25px 25px;
    padding: 0 0 0 30px;
    height: 25px;

    @include breakpoint(medium){
      background-size: 20px 20px;
      height: 20px;
      padding: 0 0 0 24px;
    }
  }

  .sp-right {
    position: absolute;
    right: 0px;
    top: 0px;

    .sp-shopping-cart {
      background: url(/icons/shopping-cart.svg) no-repeat;
      background-size: 25px 25px;
      padding: 0 0 0 30px;
      height: 25px;

      @include breakpoint(medium){
        background-size: 20px 20px;
        height: 20px;
        padding: 0 0 0 24px;
      }
    }

    .sp-facebook,
    .sp-instagram {
      display: inline-block;
      background-size: 25px 25px;
      height: 25px;
      width: 25px;

      @include breakpoint(medium){
        background-size: 20px 20px;
        height: 20px;
        width: 20px;
      }
    }

    .sp-facebook {
      margin-left: 26px;
      background: url(/icons/facebook.svg) no-repeat;
    }

    .sp-instagram {
      margin-left: 10px;
      background: url(/icons/instagram.svg) no-repeat;
    }
  }
}