header {
  position: relative;
  margin: $--spacing-unit-x3 $--spacing-unit-x11 $--spacing-unit-x3 $--spacing-unit-x11;
  font-size: $font-size-large;

  .sp-search {
    background: url(/icons/search.svg) no-repeat;
    background-size: 1.5625rem 1.5625rem;
    padding: 0 0 0 $--spacing-unit-x7;
    height: 1.5625rem;

    @include breakpoint(medium){
      background-size: 1.25rem 1.25rem;
      height: 1.25rem;
      padding: 0 0 0 $--spacing-unit-x6;
    }
  }

  .sp-right {
    position: absolute;
    right: 0;
    top: 0;

    .sp-shopping-cart {
      background: url(/icons/shopping-cart.svg) no-repeat;
      background-size: 1.5625rem 1.5625rem;
      padding: 0 0 0 $--spacing-unit-x7;
      height: 1.5625rem;
      text-decoration: none;
      color: $black;
      vertical-align: top;

      @include breakpoint(medium){
        background-size: 1.25rem 1.25rem;
        height: 1.25rem;
        padding: 0 0 0 $--spacing-unit-x6;
      }
    }

    .sp-facebook,
    .sp-instagram {
      display: inline-block;
      background-size: 1.5625rem 1.5625rem;
      height: 1.5625rem;
      width: 1.5625rem;

      @include breakpoint(medium){
        background-size: 1.375rem 1.375rem;
        height: 1.375rem;
        width: 1.375rem;
      }
    }

    .sp-facebook {
      margin-left: $--spacing-unit-x7;
      background: url(/icons/facebook.svg) no-repeat;
    }

    .sp-instagram {
      margin-left: $--spacing-unit-x3;
      background: url(/icons/instagram.svg) no-repeat;
    }
  }
}
