@import '../common.scss';

.sp-modal {
  background: $black !important;
  border: 1px solid $dark-gray !important;
  position: absolute;
  top: 10rem;
  left: 10rem;
  right: 10rem;
  bottom: 10rem;
  max-width: 30rem;
  margin: 0pt auto;
  outline: none;

  .sp-product__image-left {
    left: 1rem;
    top: 3rem;
  }

  .sp-product__image-right {
    right: 1rem;
    top: 3rem;
  }

  &:hover, & sp-modal:hover {
    .sp-product__image-right, .sp-product__image-left {
      opacity: 1;
    }
  }

  &--image {
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    max-width: none;

    @include breakpoint(small) {
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;

      img {
        height: 40rem !important;
      }
    }
  }

  &__overlay {
    z-index: 1000;
    background-color: $black-transparent !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__container {
    overflow: hidden;
    height: 100%;
    width: auto;
    outline: none;
  }

  &__header{
    display: table;
    clear: both;
    width: 100%;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: $--spacing-unit-x4;
    background: transparent;
    color: $link;
    text-decoration: underline;
    font-size: $font-size-medium;
  }

  &__title {
    display: inline-block;
    padding: $--spacing-unit-x4 0 0 $--spacing-unit-x6;
    margin-right: 4rem;
  }

  &__contents {
    overflow: auto;
    height: 100%;
    width: auto;
    padding: $--spacing-unit-x4 $--spacing-unit-x6 $--spacing-unit-x6 $--spacing-unit-x6;
  }
  &--image {
    & &__contents {
      padding: 0;
    }
  }
  img {
    margin: 0 3rem;
  }
}
