@import '../common.scss';

.sp-nav-bar {
  z-index: 100;
  position: relative;
  height: 7rem;
  overflow: visible;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  background-color: $black;

  .sp-logo {
    display: block;
    background: url(/img/spacecake-logo.svg) no-repeat;
    background-size: 18.375rem 4.6875rem;
    width: 18.375rem;
    height: 4.6875rem;
    margin: 1.25rem;
    margin-left: 3.5rem;

    @include breakpoint(medium) {
      background-size: 15.4375rem 3.9375rem;
      width: 15.4375rem;
      height: 3.9375rem;
    }

    @include breakpoint(small) {
      background-size: 13.25rem 3.375rem;
      width: 13.25rem;
      height: 3.375rem;
    }
  }

  nav {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 100%;

    ul {
      margin: 0;
      position: absolute;
      right: 3.125rem;
      list-style: none;
      overflow: visible;
      padding: 2rem 1.5rem;

      .sp-mobile-menu {
        display: none;
        cursor: pointer;

        @include breakpoint(small) {
          display: block;
          position: absolute;
          right: 1.25rem;
          top: 0.625rem;
          background: $black url(/icons/menu.svg) no-repeat;
          background-size: 1.375rem 1.25rem;
          width: 1.375rem;
          height: 1.25rem;
        }
      }

      @include breakpoint(small) {
         right: 0.9375rem;
         top: 0;
         padding: 2.1875rem 0.625rem 0.3125rem 0;
      }

      li {
        display: inline-block;
        padding: 0.625rem 0 0 3.75rem;

        @include breakpoint(medium) {
          padding-left: 2.1875rem;
        }

        @include breakpoint(small) {
           display: none;
           padding: 0.3125rem 1.25rem;
        }

        a {
          text-decoration: none;
          font-size: $font-size-large;
          color: $white;

          @include breakpoint(medium) {
            font-size: $font-size-medium;
          }

          @include breakpoint(small) {
            font-size: $font-size-medium;
            display: block;
            text-align: right;
          }
        }
      }

      &.sp-active  li {
        display: block;
      }


      &:hover li {
        @include breakpoint(small) {
          display: block;
        }
      }
    }
  }
}
