@import '../common.scss';

.sp-nav-bar {
  position: relative;
  height: 7rem;
  overflow: visible;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  background-color: $black;
  z-index: 10;

  &__inner {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1300px;
    height: auto;
  }

  @include breakpoint(medium) {
    height: 6rem;
  }

  @include breakpoint(mobile) {
    height: 5rem;
  }

  .sp-logo {
    display: block;
    background: url(/img/spacecake-logo.svg) no-repeat;
    background-size: 18.375rem 4.6875rem;
    width: 18.375rem;
    height: 4.6875rem;
    margin: 1.25rem;
    margin-left: 2rem;

    @include breakpoint(medium) {
      margin: 1rem;
      margin-left: 3rem;
      background-size: 15.4375rem 3.9375rem;
      width: 15.4375rem;
      height: 3.9375rem;
    }

    @include breakpoint(mobile) {
      margin: .5rem;
      margin-left: .5rem;
    }
  }

  nav {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 100%;

    ul {
      margin: 0;
      position: absolute;
      right: 3.125rem;
      list-style: none;
      overflow: visible;
      padding: 2rem 0 2rem 1.5rem;

      .sp-mobile-menu {
        display: none;
        cursor: pointer;

        @include breakpoint(small) {
          display: block;
          position: absolute;
          right: 1.25rem;
          top: 0.4rem;
          background: $black url(/icons/menu.svg) no-repeat;
          background-size: 1.75rem 1.75rem;
          width: 1.75rem;
          height: 1.75rem;
        }
      }

      @include breakpoint(medium) {
        padding: 1.75rem 0 1.75rem 1rem;
      }

      @include breakpoint(small) {
        right: 1.5rem;
        top: 1.75rem;
        padding: 2.1875rem 0.625rem 0.3125rem 0;
      }

      @include breakpoint(mobile) {
        right: .25rem;
        top: 1.25rem;
      }

      li {
        display: inline-block;
        padding: 0.625rem 0 0 3.75rem;
        background-color: $black;

        @include breakpoint(small) {
          display: none;
          padding: 0.3125rem 1.25rem;
          border-right: 1px solid $dark-gray;
          border-left: 1px solid $dark-gray;

          &:last-child {
            border-bottom: 1px solid $dark-gray;
          }
        }

        a {
          text-decoration: none;
          font-size: $font-size-large;
          color: $white;

          @include breakpoint(small) {
            font-size: $font-size-large;
            display: block;
            text-align: right;
          }
        }
      }

      &.sp-active li {
        display: block;
      }

      &:hover li {
        @include breakpoint(small) {
          display: block;
        }
      }
    }
  }
}
