.sp-news{
  article {
    display: flex;
    align-items: flex-start;

    @include breakpoint(medium) {
      display: block;
    }

    .sp-left-content {
      order: 1;
      flex-grow: 1;
      margin: 0 $--spacing-unit-x7 0 0;

      .sp-right-content {
        display: none;

        @include breakpoint(medium) {
          display: block;
          width: 100%;
        }
      }
    }

    .sp-right-content {
      background-color: white;
      order: 2;
      width: 30rem;
      flex-shrink: 0;
      padding: $--spacing-unit-x3;

      @include breakpoint(xlarge){
        width: 24rem;
      }

      @include breakpoint(large){
        width: 18rem;
      }

      @include breakpoint(medium){
        display: none;
      }

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

}
