@import '../common.scss';

.sp-news {
  text-align: justify;

  &__spacer {
    float: left;
    height: 8rem;
    width: 0;

    &_2 {
      float: left;
      clear: left;
    }
  }

  &__image {
    float: left;
    width: 18rem;
    padding: $--spacing-unit-x6 $--spacing-unit-x8 $--spacing-unit-x8 0;

    @include breakpoint(medium) {
      width: 14rem;
    }
  }

  button {
    margin-top: 0;
  }
}
