@import '../common.scss';

.sp-news {

  .sp-article-body {
    text-align: justify;
  }

  &__title {
    padding-bottom: $--spacing-unit-x4;
  }

  &__spacer {
    float: right;
    height: 6rem;
    width: 0;

    &_2 {
      float: right;
      clear: right;
    }

    @include breakpoint(medium) {
      height: 0;
    }
  }

  &__image {
    float: right;
    width: 55%;
    padding: $--spacing-unit-x3 0 $--spacing-unit-x8 $--spacing-unit-x8;

    @include breakpoint(medium) {
      width: 100%;
    }

    @include breakpoint(mobile) {
      padding: $--spacing-unit-x4;
      float: none;
    }
  }

  button {
    margin-top: $--spacing-unit-x4;
  }
}
