{
  "parser"  : "babel-eslint",
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false,
    "__VERBOSE__": false
  },
  "rules": {
    "react/require-extension": "off",
    "max-len": [2, 150, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignorePattern": "\\s*<"
    }],
    "generator-star-spacing": 0,
    "brace-style": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/no-unresolved": "off",
    "no-prototype-builtins": "off",
    "no-underscore-dangle": "off",
    "no-undef": "off"
  }
}
