{
  "parser"  : "babel-eslint",
  "extends" : [
    "airbnb"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false,
    "__VERBOSE__": false
  },
  "rules": {
    "react/require-extension": "off",
    "max-len": [2, 150, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignorePattern": "\\s*<"
    }],
    "semi": ["error", "never"],
    "generator-star-spacing": 0,
    "brace-style": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-has-content": "off",
    "no-prototype-builtins": "off",
    "no-underscore-dangle": "off",
    "no-undef": "off",
    "react/destructuring-assignment": "false",
    "react/jsx-one-expression-per-line": "false",
    "react/forbid-prop-types": "false"
  }
}
