@import '../../common.scss';

.sp-new-products{
  width: 100%;

  &.sp-container {
    padding: $--spacing-unit-x6 $--spacing-unit-x2 $--spacing-unit-x6 $--spacing-unit-x6;
  }

  &__holder {
    width: 100%;
  }

  &__title {
    font-size: $font-size-medium;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
  }

  &__buy-now {
    display: block;
    font-size: $font-size-medium;
    width: 100%;
    background: transparent;
    text-align: center;
    text-decoration: underline;
  }

  &__image {
    display: inline-block;
    margin: 0 $--spacing-unit-x4 $--spacing-unit-x4 0;
    width: calc(50% - #{$--spacing-unit-x4});

    @include breakpoint(large) {
      width: 99%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &:nth-last-child(-n+2){
      @include breakpoint(large) {
        display: none;
      }
    }
  }

}
