@import 'src/styles/common.scss';

.sp-products{
  padding: $--spacing-unit-x4;

  &__title {
    font-size: $font-size-medium;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__buy-now {
    display: block;
    font-size: $font-size-medium;
    width: 100%;
    background: transparent;
    text-align: center;
    text-decoration: underline;
  }

  &__image {
    display: inline-block;
    padding: 0 $--spacing-unit-x5 $--spacing-unit-x5 $--spacing-unit-x5;
    width: 16rem;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
