body {
  padding: 0px;
  margin: 0px;
  color: $black;
  font-family: $font;
  font-size: $font-size-body;
  background-size: cover;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/img/background-image-xlarge.jpg);

  @include breakpoint(large){
     background-image: url(/img/background-image-large.jpg);
  }
  @include breakpoint(medium){
    background-image: none;
  }

  button{
    vertical-align: top;
    font-size: 20px;
    display: inline-block;
    border: none;
    margin: 0px;
    padding: 0px;

    @include breakpoint(medium){
      font-size: 18px;
    }
  }

  h2 {
    font-size: 40px;
    font-weight: 300;
  }
}