body {
  padding: 0;
  margin: 0;
  color: $black;
  font-family: $font;
  font-size: $font-size-medium;
  background-size: cover;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(/img/background-image-xlarge.jpg);

  @include breakpoint(large){
     background-image: url(/img/background-image-large.jpg);
  }
  @include breakpoint(medium){
    background-image: none;
  }

  button{
    vertical-align: top;
    font-size: $font-size-large;
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;

    @include breakpoint(medium){
      font-size: $font-size-medium;
    }
  }

  h2 {
    font-size: $font-size-xxlarge;
    font-weight: 300;
  }
}