@import 'common.scss';

body {
  padding: 0;
  margin: 0;
  color: $white;
  font-family: $font;
  font-size: $font-size-medium;
  font-weight: $font-weight-standard;
  background-color: $background;
  letter-spacing: 1.5px;
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;

  button {
    cursor: pointer;
    vertical-align: top;
    font-size: $font-size-large;
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    color: $white;

    @include breakpoint(small) {
      font-size: $font-size-medium;
    }
  }

  p {
    margin-top: 0;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  h2 {
    display: inline-block;
    font-size: $font-size-xlarge;
    font-weight: $font-weight-standard;
    margin-top: 0;
    margin-bottom: $--spacing-unit-x6;
  }

  h3 {
    display: block;
    font-size: $font-size-xlarge;
    font-weight: $font-weight-standard;
    margin-top: 0;
    margin-bottom: $--spacing-unit-x6;
  }

  .sp-page {
    padding-right: $--spacing-unit-x4;

    @include breakpoint(small) {
      padding-right: 0;
    }
  }

  .sp-price {
    display: inline-block;
    font-size: $font-size-xxlarge;
    color: $dark-gray;

    &__coin {
      font-size: $font-size-large;
    }

    &--normal {
      font-size: $font-size-medium;
    }
  }

  .sp-select {
    height: 1.5rem;
    width: 8rem;
    font-size: $font-size-medium;
  }

  .sp-shadow {
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.07);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.07);
  }
}
