//----------------------------
// Color Palette Variables
//----------------------------
$background:          #111111;
$black:               #000000;
$white:               #FFFFFF;
$white-smoke:         #f2f3f4;
$black-transparent:   rgba(0, 0, 0, 0.68);
$light-gray:          #EEEEEE;
$dark-gray:           #333333;
$dark-green:          #13771b;
$dark-blue:           #2d2a74;
$link:                #199ddc;
