$breakpoint-small:      20rem; // 320px
$breakpoint-medium:     48rem; // 768px
$breakpoint-large:     64rem; // 1024px
$breakpoint-xlarge:    83.75rem; // 1340px

//----------------------------
// Font & Text Variables
//----------------------------
$font: Arial, sans-serif;

//Font Sizes
$font-size-small: .75rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;

// spacing-units
$--spacing-unit: 0.25rem;
$--spacing-unit-x2: .5rem;
$--spacing-unit-x3: .75rem;
$--spacing-unit-x4: 1rem;
$--spacing-unit-x5: 1.25rem;
$--spacing-unit-x6: 1.5rem;
$--spacing-unit-x7: 1.75rem;
$--spacing-unit-x8: 2rem;
$--spacing-unit-x9: 2.25rem;
$--spacing-unit-x10: 2.5rem;
$--spacing-unit-x11: 2.75rem;
$--spacing-unit-x12: 3rem;
$--spacing-unit-x13: 3.25rem;
$--spacing-unit-x14: 3.5rem;
$--spacing-unit-x15: 3.75rem;
$--spacing-unit-x16: 4rem;
$--spacing-unit-x17: 4.25rem;
$--spacing-unit-x18: 4.5rem;
$--spacing-unit-x19: 4.75rem;
$--spacing-unit-x20: 5rem;
