$breakpoint-small:      320px;
$breakpoint-medium:     768px;
$breakpoint-large:     1024px;
$breakpoint-xlarge:    1340px;

//----------------------------
// Font & Text Variables
//----------------------------
$font: Arial, sans-serif;

//Font Sizes
$font-size-body: 16px;