@import 'src/styles/common.scss';

.sp-shopping-cart {

  .sp-card {
    margin: $--spacing-unit-x2;
  }

  &__item {
    display: flex;
  }

  &__image {
    order: 1;
    flex: 0 1 13.75rem;
    margin-right: $--spacing-unit-x4;

    img {
      width: 13.75rem;
      height: 13.75rem;
    }

    @include breakpoint(medium) {
      flex: 0 1 6.25rem;

      img {
        width: 6.25rem;
        height: 6.25rem;
      }
    }
  }

  &__content {
    order: 2;
    flex: 1 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: $--spacing-unit-x3;
  }

  &__title {
    display: block;
    font-size: $font-size-xxlarge;
  }

  &__body {
    width: 100%;
    overflow: hidden;
    white-space: normal;
    line-height: 1.2rem;
    height: 3.4rem;
    color: $dark-gray;
  }

  &__quantity {
    padding: $--spacing-unit-x3 $--spacing-unit-x6 0 0;
  }

  &__price {
    order: 3;
    flex: 0 1 7.5rem;
    width: 100%;
    text-align: right;
    padding: $--spacing-unit-x3;

    p {
      width: 100%;
    }
  }


}
