@import 'src/styles/common.scss';

.sp-shopping-cart {

  .sp-card {
    margin: $--spacing-unit-x2;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  &__image {
    order: 1;
    flex: 0 1 9rem;
    margin: 0 $--spacing-unit-x4 0 0;

    img {
      width: 9rem;
      height: 9rem;
    }

    @include breakpoint(medium) {
      flex: 1 1 100%;
      margin: $--spacing-unit-x4 0 0 $--spacing-unit-x4;
    }
  }

  &__content {
    order: 2;
    flex: 1 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: $--spacing-unit-x6;
  }

  &__title {
    display: block;
    font-size: $font-size-xlarge;
    white-space: pre-wrap;
    margin-right: 5rem;

    @include breakpoint(medium) {
      font-size: $font-size-large;
      margin-right: 0;
    }
  }

  &__quantity {
    display: inline-block;
    margin: $--spacing-unit-x7 $--spacing-unit-x20 0 0;
    font-size: $font-size-medium;

    &--value {
      font-weight: $font-weight-strong;
      padding-left: $--spacing-unit-x2;
    }

    @include breakpoint(medium) {
      margin: $--spacing-unit-x4 $--spacing-unit-x7 0 0;
    }
  }

  &__remove {
    margin: $--spacing-unit-x7 0 0 0;

    @include breakpoint(medium) {
      margin: $--spacing-unit-x4 0 0 0;
    }
  }

  &__price {
    position: absolute;
    top: 0;
    right: 0;
    padding: $--spacing-unit-x7;
    font-size: $font-size-large;

    p {
      width: 100%;
    }
  }


}
