@import 'src/styles/common.scss';

.sp-shopping-cart {

  .sp-card {
    margin: $--spacing-unit-x2;
  }

  &__item {
    display: flex;
  }

  &__image {
    order: 1;
    flex: 0 1 9rem;
    margin-right: $--spacing-unit-x4;

    img {
      width: 9rem;
      height: 9rem;
    }

    @include breakpoint(medium) {
      flex: 0 1 6.25rem;

      img {
        width: 6.25rem;
        height: 6.25rem;
      }
    }
  }

  &__content {
    order: 2;
    flex: 1 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: $--spacing-unit-x6;
  }

  &__title {
    display: block;
    font-size: $font-size-xxlarge;
    white-space: pre-wrap;
  }

  &__quantity {
    display: inline-block;
    margin: $--spacing-unit-x7 $--spacing-unit-x20 0 0;
    font-size: $font-size-medium;

    &--value {
      font-weight: $font-weight-strong;
      padding-left: $--spacing-unit-x2;
    }
  }

  &__remove {
    margin: $--spacing-unit-x7 0 0 0;
  }

  &__price {
    order: 3;
    flex: 0 1 7.5rem;
    width: 100%;
    text-align: right;
    padding: $--spacing-unit-x7;
    font-size: $font-size-large;

    p {
      width: 100%;
    }
  }


}
