@import 'src/styles/common.scss';

.sp-new-arrivals {
  .sp-page-header {
    @include breakpoint(small) {
      display: block;
    }
  }

  &__title {
    font-size: $font-size-medium;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: .5rem;
  }

  &__image {
    width: 100%;

    @include breakpoint(small) {
      width: calc(50% - #{$--spacing-unit-x8});
      display: inline-block;
      padding-left: $--spacing-unit-x4;
    }

    @include breakpoint(mobile) {
      width: calc(100% - #{$--spacing-unit-x12});
    }
  }

  &__buy-now {
    display: block;
    font-size: $font-size-medium;
    width: 100%;
    background: transparent;
    text-align: center;
    text-decoration: underline;
    margin-bottom: $--spacing-unit-x2;
  }
}
