@import 'src/styles/common.scss';

.sp-news {

  h2 {
    display: block;
    text-align: center;
  }

  .sp-article-body {
    display: block;
    padding-top: $--spacing-unit-x8;
    text-align: justify;
    font-size: $font-size-xlarge;

    @include breakpoint(medium) {
      font-size: $font-size-large;
    }

    @include breakpoint(small) {
      font-size: $font-size-medium;
    }
  }

  p {
    padding: 0;
    margin: 0;
  }

}
