@import 'src/styles/common.scss';

.sp-home {

  &__top {
    display: flex;

    @include breakpoint(small){
      display: block;
    }
  }

  &__news {
    order: 1;
    flex: 1;
  }

  &__new-arrivals {
    order: 2;
    width: 200px;
    flex: 0 0 200px;

    @include breakpoint(small) {
      width: 100%;
    }
  }
}
