@import 'src/styles/common.scss';

.sp-cart {

  &__body {
    display: flex;
  }

  &__left {
    flex: 1 0;
  }

  &-total {
    flex: 0 0 24rem;
    background-color: $black;
    color: $white;
    margin: $--spacing-unit-x2;

    &__title, &__shipping, &__total, &__paypal-button {
      padding: $--spacing-unit-x5;
      border-bottom: $border-width solid $dark-gray;
    }

    &__title {
      font-size: $font-size-xlarge;
    }

    &__shipping {

    }

    &__total {
      font-size: $font-size-large;
      .sp-price--normal {
        font-size: $font-size-large;
        float: right;
      }
    }
  }
}
